.navbar-inverse.nav-upper {
    height: 50px;
}

.navbar-inverse.nav-upper ul {
    float: right;
    display: table;
}

.navbar-inverse.nav-upper .navbar-upper>li {
    display: table-cell;
    font-size: 14px;
    margin-left: 5px;
}

.navbar-inverse.nav-upper .navbar-upper>li>a {
    color: #e90052;
}

.navi {
    background-color: #e90052;
    border: 0;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .navbar.navbar-lower .navbar-nav {
        margin-left: 200px;
    }
}

.navbar-logo {
    background-image: url("../img/logo_360.png");
    width: 90px;
    height: 90px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 110;
    z-index: 1051;
}

.standings {
    margin: 10%;
    background-color: #00ff87;
}

.club-logo {
    height: 30px;
    width: 30px;
    margin-left: 15px;
    box-sizing: border-box;
}

.pl {
    font-size: 20px;
}

.leftside {
    width: 60%;
    padding-right: 5%;
}

.rightside {
    width: 40%;
    padding-left: 5%;
}

.mission {
    width: 80%;
    height: 100px;
}

.missiontxt {
    color: white;
    font-family: 'Comfortaa', cursive;
}

.funcs {
    height: 400px;
    width: 100%;
    background-color: #00ff87;
}

.homepage {
    background-color: #38003c;
}

.middlestuff {
    padding-right: 10%;
    padding-left: 10%;
}

.btn-group {
    align-content: center;
}

.dropdown-menu {
    width: 100%;
    height: 500px;
}

.startdate {
    width: 40%;
}

.enddate {
    width: 40%;
}

.leftSide {
    float: left;
    width: 50%;
    background-color: yellow;
}

.rightSide {
    float: right;
    width: 50%;
    background-color: yellow;
}

.searchButton {
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
}